.icon-profile {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown {
  position: relative;
}

.profile-menu {
  width: max-content;
  list-style-type: none;
  position: absolute;
  right: 0;
  bottom: -8rem;
  z-index: 1;
  border-radius: var(--br);
  box-shadow: var(--shadow);
  background-color: var(--bg-clr);
  border: 2px solid var(--text-clr);
}

.profile-menu-control {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.profile-menu-control:hover {
  color: var(--clr-accent-500);
}
